<h2>Tasks</h2>

<% if current_user %>

	<% current_user.tasks.each do |t| %>
  
    <p><%= link_to(t.task_name, task_path(t.id))  %></p>

	<% end %>
  
<% else %>

  <p><%= "No Tasks" %></p>  
  
<% end %>