

html {
	z-index: -1;
	background-color: #E0E0E0 ;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  font-family: 'Cuprum', sans-serif;
	height: 40px;
	width: 20%;
  margin: -60px 0 0 0 ;
	text-align: center;
	float: right;
	border-radius: 20px 0px 0px 20px;
	padding-right: 10px;
	background-color: white;
	padding-top: 1px;
	padding-bottom: 10px;
  
}

h1 {
  font-family: 'Syncopate', sans-serif;
	background-color: #008C9E;
	width: 100%;
	height: 128px;
	padding-top: 10px;
  margin: 0 auto;
  text-align: center; 
}

#login {
  margin: 0 0 0 30px;
}

#nav {
	border-radius: 20px 20px 20px 20px;
	background-color: #005F6B;
	width: 95%;
	height: 50px;
  text-align: center;
	background-color: white;
	margin: 20px auto 20px auto;
  padding: 0;
}
 #nav ul {
  margin: 0 auto;
  width: 90%;
  padding-top: 20px;
}

#nav li {
  font-family: 'Syncopate', sans-serif;
	display: inline;
  margin-left: 80px;
  margin-right: 80px;
	width: 10px;
 
}

#subhead {
  font-family: 'Syncopate', sans-serif;
	width: 75%;
	background-color: #008C9E;
	float: right;
	border-radius: 20px 0px 0px 20px;
	height: 75px;
	margin-top: 20px;
	text-align: center;
	margin-bottom: 10px;
}

#feature {
	width: 75%;
	min-height: 300px;
	background-color: #008C9E;
	float: right;
	border-radius: 20px 0px 0px 20px;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 20px;
	display: inline;
}

#feature li{
  font-family: 'Syncopate', sans-serif;
   list-style-type: none;
  font-size: 30px;
	text-align: left;
  padding: 20px;
	margin-left: 80px
}

#feature a {
  font-family: 'Cuprum', sans-serif;
	margin: 20px;
  padding: 10px
}

#leftColumn {
	width: 22%;
	background-color: #005F6B;
	float: left;
	border-radius: 20px 20px 20px 20px;
	height: 580px;
	margin-top: -125px;
	text-align: center;
	margin-right: 5px;
	margin-left: 20px;
	
}

#leftColumn #nestedColumn {
	width: 100%;
	background-color: white;
	border-radius: 20px 20px 20px 20px;
	height: 150px;
	text-align: center;
	margin: -60px auto 0 auto
}

#footer {
	width: 99%;
	background-color: #005F6B;
	float: right;
	border-radius: 20px 0px 0px 0px;
	height: 143px;
	text-align: center;
	margin-top: 20px;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: red;
	text-decoration: underline;
}

a:active {
	color: white;
}
