
header {
	height: 40px;
	width: 20%;
	text-align: center;
	margin: -84px auto 0 1010px;
	background-color: #005F6B;
	border-radius: 20px 0px 0px 20px;
	padding-right: 10px;
	background-color: white;
	border-style: solid;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
}

h1 {
	background-color: #008C9E;
	width: 100%;
	height: 128px;
	padding-top: 10px;
}

#nav {
	border-radius: 20px 20px 20px 20px;
	background-color: #005F6B;
	width: 95%;
	height: 20px;
	padding-top: 20px;
	background-color: white;
	margin: 20px auto 20px auto;
}

#nav li {
	display: inline;
	margin: 10%;
	border-radius: 20px 20px 20px 20px;
	height: 50px;
	width: 25px;
}

#subhead {
	width: 75%;
	background-color: #005F6B;
	float: right;
	border-radius: 20px 0px 0px 20px;
	height: 75px;
	margin-top: 20px;
	text-align: center;
	border-style: solid;
	margin-bottom: 10px;
}

#feature {
	width: 75%;
	height: 100%;
	background-color: #005F6B;
	float: right;
	border-radius: 20px 0px 0px 20px;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 20px;
	display: inline;
}

#feature h4 {
	text-align: left;
	margin-left: 80px
}

#feature a {
	margin: 20px
}

#leftColumn {
	width: 22%;
	background-color: #005F6B;
	float: left;
	border-radius: 20px 20px 20px 20px;
	height: 580px;
	margin-top: -125px;
	text-align: center;
	margin-right: 5px;
	margin-left: 20px;
	
}

#leftColumn #nestedColumn {
	width: 100%;
	background-color: white;
	border-radius: 20px 20px 20px 20px;
	height: 150px;
	text-align: center;
	margin: -60px auto 0 auto
}

#footer {
	width: 99%;
	background-color: #005F6B;
	float: right;
	border-radius: 20px 0px 0px 0px;
	height: 143px;
	text-align: center;
	margin-top: 20px;
}

a:link {
	color: deeppink;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: deeppink;
	text-decoration: underline;
}

a:active {
	color: darkcyan;
}
