

html {
	z-index: -10;
	background-color: #E8E8E8 ;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

header {
  font-family: 'Cuprum', sans-serif;
	height: 40px;
	width: 20%;
  margin: -50px 0 0 0 ;
	text-align: center;
	float: right;
	border-radius: 20px 0px 0px 20px;

  
}

h1 {
  font-family: 'Francois One', sans-serif;
  font-size:35px;
  color:#00A0B0;
  width: 50%;
  float: left;
	padding-top: 50px;
  margin: 0 auto;
  text-align: left; 
}



h2 {
  font-family: 'Syncopate', sans-serif;
  font-size:24px; 
}


#logo{
  padding-top: 40px;
  height:150px;
}

h1#headlogo{
  width: 250px; 
  height: 75px;
  margin-top: 20px;
  	background: url("http://i.imgur.com/MpcihSK.png") no-repeat;
    float: left;
  	text-indent: -9999px;
    z-index: -2;
}

h1#headlogo:after{
  clear:both;
}

#login {
  margin: 0 0 0 30px;
}

#nav {
	border-radius: 20px 20px 20px 20px;
	background-color: #F4533A;
	width: 95%;
	height: 50px;
  text-align: center;
	margin: 0px auto 20px auto;
  opacity: .70;
  
}
 #nav ul {
  margin: 0 auto;
  width: 90%;
  padding-top: 20px;
  opacity: 1;
}

#nav li {
  font-family: 'Syncopate', sans-serif;
	display: inline;
  margin-left: 80px;
  margin-right: 80px;
	width: 10px;
  opacity: 1;
}

#subhead {
  font-family: 'Syncopate', sans-serif;
	width: 75%;
	background-color: #ffffff;
	float: right;
	border-radius: 20px 0px 0px 20px;
	height: 75px;
	margin-right: 40px;
	text-align: center;
	margin-bottom: 10px;
}

#feature {
	width: 72%;
	min-height: 300px;
  position:relative;
	background-color: #ffffff;
	float: right;
	border-radius: 20px 0px 0px 20px;
	margin-top: 10px;
	text-align: left;
	margin-right: 40px;
	display: inline;
  padding:30px;
}

#feature input{
  width:50%;
  font-family: 'Cuprum', sans-serif;
  text-align: left;
  padding-left: 20px;
  font-size:15px;
  height: 30px;
  background:#F0F0F0;
   border: none;
  border-radius: 10px;
}

#feature textarea{
   border: none;
   border-radius: 10px;
   background:#F0F0F0;
   width: 50%;
   
}

 #feature input.submit {
  margin: 0 auto; 
  text-align: center;
  font-size: 20px;
  width:auto;
  border-radius:5px;
}

#feature select{
  width:200px;
  height:30px;
}

#feature h2{
 font-family: 'Francois One', sans-serif;
  margin:0 auto;
  color:#00A0B0;
  text-align: left;
}

#feature li{
  font-family: 'Syncopate', sans-serif;
   list-style-type: none;
  font-size: 30px;
	text-align: left;
  padding: 20px;
	margin-left: 80px
}

#featureaction{
  width: 100%;
  font-family: 'Cuprum', sans-serif;
  position: absolute;
  bottom: 10px;
  font-size: 18px;
  padding: 10px
}

#featureaction a {
  padding: 10px;
}

#leftColumn {
	width: 20%;
	background-color: #CCCCCC;
	float: left;
	border-radius: 20px 20px 20px 20px;
	height: 580px;
  margin: 10px 0 0 40px;
}

#leftColumn #nestedColumn {
	width: 100%;
	background-color: white;
	border-radius: 20px 20px 20px 20px;
	height: 150px;
	text-align: center;
	margin: -60px auto 0 auto
}

#signup {
  font-family: 'Cuprum', sans-serif;
  width: 40%;
  height: auto;
  background-color: #008C9E;
  margin: 0 auto;
  padding: 10px;
  border-radius: 20px;
  text-align: center; 
}

 input{
   width:50%;
   border: none;
   font-family: 'Cuprum', sans-serif;
   text-align: center;
   font-size:15px;
   height: 30px;
   border-radius: 10px;
 }
 
 input.submit {
   font-size: 20px;
   width:auto;
   border-radius:5px;
 }

 p#alert {
  width:30%;
  margin: 0 auto;
  border-radius: 10px;
  color: #FF3300;
  font-size:20px;
  background-color: white;
}

#footer {
	width: 99%;
	background-color: #005F6B;
	float: right;
	border-radius: 20px 0px 0px 0px;
	height: 143px;
	text-align: center;
	margin-top: 20px;
}

a:link {
	color: black;
	text-decoration: none;
}

a:visited {
	color: black;
}

a:hover {
	color: red;
	text-decoration: underline;
}

a:active {
	color: white;
}
